/* ================== omar goher  login + question + timer==========================  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* content */
.content {
    max-height: 90vh;
}

/* class txt الدخول */
.txt h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #16334c;
}

.txt p {
    font-size: 22px;
    color: #6b6b6b;
    margin-bottom: 30px;
    font-weight: 500;
}

/* group icon */
.group-icon {
    position: relative;
}

.group-icon span {
    position: absolute;
    top: 53%;
    left: 10px;
    transform: translateY(-50%);
    color: #6b6b6b;
}

.group-icon span svg {
    height: 25px;
}

.group-icon input {
    width: 100%;
    padding: 10px 10px 10px 45px;
    font-size: 21px;
}

/* ========================== login my google */


.loginGo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 35px;
}

.loginGo:before,
.loginGo:after {
    content: '';
    border-top: 1px solid #d6d6d6;
    margin: 0 20px 0 20px;
    flex: 1 0 20px;
}

.loginGo:after {
    margin: 0 20px 0 20px;
}

/* google btn */
.btn-google {
    background-color: #DB4A3D;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;


}

.btn-google .icon {
    color: white;
    display: block;
    text-align: center;

}

/* link loign */

.link a {
    text-decoration: none;
}

.link {
    font-size: 18px;
    margin-top: 40px;
    color: #6b6b6b;
    font-weight: bolder;
}

/* btn submit */

.btn-submit {
    background-color: #16334c;
    color: white;
    font-size: 24px;
    padding: 10px 60px;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

/* background login */
.back-login {
    background-color: #283252;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-login img {
    width: 35%;
}

@media only screen and (max-width: 1200px) {
    .txt h1 {
        text-align: center;
    }

    .txt p {
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    .back-login {
        display: none;
    }

    .txt h1 {
        text-align: center;
    }

    .txt p {
        text-align: center;
    }
}

@media only screen and (max-width: 575px) {
    .txt h1 {
        text-align: center;
    }

    .txt p {
        text-align: center;
    }
}



/* timer */

/* body timer  */
.timerbody {
    background-color: #f2f2f2;
    height: 100vh;
}

/* content */
.timercontent {
    border: none;
    font-size: 18px;
    font-weight: 500;
    background-color: fafafa;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* showTimer parent */
.showTimer {
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    background-color: white;
}

/* alrt background */
.alertbg {
    background-color: #ededed;
    border: 1px solid #d6d6d6;
}

/* ____________ تحدي الوقت ____________________ */
.title {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.title:before,
.title:after {
    content: '';
    border-top: 1px solid #d6d6d6;
    margin: 0 20px 0 20px;
    flex: 1 0 20px;
}

.title:after {
    margin: 0 20px 0 20px;
}

/* contain */
.contain {
    position: relative;
}

.contain span {
    position: absolute;
    top: 53%;
    right: 20px;
    transform: translateY(-50%);
    color: #6b6b6b;
}

.contain span svg {
    margin-left: 50px;
}

.contain span :hover {
    color: #1abc9c;
}

.contain input {
    padding-right: 40px;
}

.contain input::placeholder {
    margin-right: 10px;
    color: gray;
}

/* err input in js */
.errr {
    padding-left: 50px;
    border: 1px solid red;
}

/* function Question js */
.questionn {
    font-size: 22px;
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    text-align: end;
}

.Allcontiner {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 15px;
}

/* added by salah */
.btn-go {
    background-color: #2278bc;
    border: none;
}


/* =============home============== */