:root {
    --main-text: #1ABC9C;
    --dark-text: #283252;
    --light-text: #a2a5b9;
    --main-bg-color: #F2F2F5;
    --topics-bg: #f5f6fa;
    --bg-color: #fafafa;
    --div-bg: #fff;
    --div-border: #d9d9d9;
}

body.dark {
    --main-text: #797bf2;
    --dark-text: #AAAAB3;
    --light-text: #a2a5b9;
}

body {
    background-color: var(--main-bg-color);
    font-family: "JannaLT-Regular", sans-serif;
}

/*right side*/
.articles-main-container{
    background-color: var(--topics-bg);
    color: var(--dark-text);
    font-size: 0.95em;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

/*left side*/

/*wraps title and articles holder*/
.articles-card img{
    height:180px;
    object-fit: cover;
    border-radius: 10px;
}

.articles-card-text{
    position: relative;
    background-color: var(--div-bg);
    border-radius: 10px;
    margin-top: -40px;
    font-size: 0.95em;
}

.articles-card-text button{
    background-color: var(--main-text);
    color: var(--div-bg);
    border: none;
    padding:8px 6%;
    border-radius: 6px;
    margin-top: 6px;
}
.articles-card-text button:hover{
    opacity: 0.8;
    transition: all 0.3s;
}

.articles-card-text button:active{
    transform: scale(1.1,1.1);
}

.articles-card{
    transition: all 0.3s;
}

.articles-card:hover{
    transform: scale(1.1,1.1);
}