/* salma */

:root {
  --main-text: #17334c;
  --sec-text: #999;
  --bg-color: white;
  --bg-input: white;
  --border-input: #ddd;
  --placeholder: #bbb;
  --input-focus: #ddd;
  --input-color: black;
}

body.dark {
  --bg-color: #232326;
  --main-text: #17334c;
  --sec-text: white;
  --bg-input: #2d2d31;
  --border-input: none;
  --placeholder: grey;
  --input-focus: #17334c;
  --input-color: white;
}

body {
  background-color: var(--bg-color);
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "JannaLT-Regular", sans-serif;
}

/*left contains animation*/
.right {
  width: 65%;
  background-color: #283252;
  min-height: 100vmin;
  display: flex;          
  justify-content: center; 
  align-items: center;     
}

.right img {
  width: 35%;
}

/*right contains form*/
.left {
width: 35%;
padding:10px 20px;
}

/*header contains logo and toggle icon*/
.header {
  display: flex;
  justify-content: space-between;
}

/*toggle button*/
#toggle {
  height: fit-content;
  padding: 0;
  background-color: var(--bg-color);
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

/*hero body contains the texts*/
.hero-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.main-text h2 {
  color: var(--main-text);
  font-size: 32px;
  margin: 0;
}

.main-text p {
  font-size: 15.2px;
  color: var(--sec-text);
}

.main-text p a {
  color: var(--main-text);
  cursor: pointer;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}

/*input container is each indivisual input field container
ie it contains the placeholder and the icon*/
.input-container {
  position: relative;
  min-height: 60px;
  width:80%;
}

.input-container input {
  background-color: var(--bg-input) !important;
  color: var(--input-color) !important;
  width: 100%;
  padding: 16px 40px;
  border: 1px solid var(--border-input);
  border-radius: 10px;
  font-size: 18px;
  outline: none;
  transition: all .5s;
  cursor: none;
  font-family: "JannaLT-Regular", sans-serif;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1002px var(--bg-input) inset;
  -webkit-text-fill-color: var(--input-color);
  border-radius: 8px;
}

.input-container input::placeholder {
  color: var(--placeholder);
}

/* the before element is used for the icons in the input field*/
.input-container::before {
  font-family: "LineIcons";
  position: absolute;
  top: 20%;
  right: 8px;
  color: #bbb;
  font-size: 28px;
  transition: all .5s;
}

.user-input::before {
  content: "\ec2e";
}

.user-email::before {
  content: "\eacd";
}

.user-pass::before {
  content: "\eb47";
}

/*to change icon color on focus*/
.input-container:focus-within::before {
  color: var(--main-text);
}

.input-container input:hover {
  border: 1px solid var(--placeholder);
}

.input-container input:focus {
  border: 1px solid var(--input-focus);
}

/*radio container the container which has both radio elements*/
.radio-container {
  font-size: 18px;
  color: var(--sec-text);
  display: flex;
  gap: 30px;
  height: 40px;
}

.radio {
  padding: 1em;
  position: relative;
  cursor: pointer;
}

/*this hides the original radio input so we can custom style our own*/
.radio input {
  opacity: 0;
  cursor: pointer;
  height: 0;
}

/*creats my own custom radio button in span with class checkmark*/
.checkmark {
  position: absolute;
  top: 20px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.checkmark:hover {
  border: 2px solid #aaa;
}

/*creating the indicator its default hidden when not checked and styling it*/
.radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--main-text);
}

/*when checked add border*/
.radio input:checked~.checkmark {
  border: 2px solid var(--main-text);
}

/*this shows the indicator (green circle) when checked*/
.radio input:checked~.checkmark:after {
  display: block;
}

/*button*/
.btn-container {
  align-self: center;
  margin-top: 10px;
}

.submit-btn {
  background-color: var(--main-text);
  border: none;
  color: white;
  padding: 14px 40px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease 0.3s;
  font-family: "JannaLT-Regular", sans-serif;
}

.submit-btn:hover {
  opacity: 0.8;
}

.submit-btn:active {
  padding: 12px 36px;
}

.error {
  color: red;
  font-size: 14px;
  margin: 12px;
  width: 300px;
}

/*country dropdown styling*/
.country-select{
  width:100% !important;
}
.country-select .country-list {
  position: absolute !important;
  bottom: 100% !important;
  left: 0 !important;
  right: auto !important;
  margin-top: 4px;
  z-index: 9999;
  border-radius: 8px;
  background-color: var(--bg-input);
  color: var(--sec-text);
}

.country-list::-webkit-scrollbar {
  width: 10px;
}

.country-list::-webkit-scrollbar-thumb {
  background-color: var(--main-text);
  border-radius: 4px;
}

.country-list::-webkit-scrollbar-track {
  background: var(--bg-input);
  border-radius: 4px;
}

.country-select .flag-dropdown {
  width: 100% !important;
}

.country-select .selected-flag .arrow {
  display: none !important;
}

.country-select .flag-dropdown .selected-flag {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: left;
}

.country-select input {
  color: var(--sec-text);
}

@media only screen and (max-width: 1024px) {
.right{
  display: none;
}

.left{
  width:100%;
}

.input-container{
  width:100%;
}
}


.togle{
  background-color: black;
}